.header {
  display: flex;
  align-items: center;

  &--border {
    border-bottom: 1px solid $headerBorder;
    padding: 32px 0;
  }
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  text-decoration: none;
  color: $headersColor;
  display: flex;
  margin-right: 93px;

  &--studio {
    color: $logoColor;
  }
}
.social-links {
  text-decoration: none;
  display: inline-flex;
  list-style: none;
  font-weight: 500;
  align-items: center;
  text-decoration: none;
  column-gap: 46px;
  color: $headersColor;

  &__link {
    text-decoration: none;
    color: $headersColor;
    list-style: none;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: $logoColor;
    }
  }
}
.link--active {
  color: $logoColor;
  position: relative;

  &::after {
    background: $logoColor;
    border-radius: 2px;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -39px;
  }
}
.contact-list {
  text-decoration: none;
  display: flex;
  list-style: none;
  color: $paragraphColor;
  column-gap: 20px;
  margin-left: auto;

  &__link {
    text-decoration: none;
    color: $paragraphColor;
    list-style: none;

    &:hover,
    &:focus {
      color: $logoColor;
      .contact-list__icon--hover {
        fill: $logoColor;
      }
    }
  }

  &__icon {
    margin-right: 10px;
    display: inline-flex;
  }
}

.icons-active:hover,
.icons-active:focus {
  fill: $logoColor;
}
